<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tailwind-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main role="main" class="max-w-4xl mx-auto">
        @RenderBody()
    </main>

    <script src="~/js/alpine.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
